@using BC2023.JWTApp.Logic;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject AccountService AccountService

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <NavLink href="/login">Log in</NavLink>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogOut()
    {
        await AccountService.LogoutAsync();
        Navigation.NavigateTo("/login");
    }

}
